DATABASE_URL=postgres://...
JIRA_BASE_URL=https://sprutgaming.atlassian.net
JIRA_TOKEN=base64(email:api_token)
JIRA_CLOUD_ID=74d6fc17-1c7c-43e5-be7a-13f71cdc3372
ADMIN_TOKEN=your-secret-token-here
CRON_SECRET=your-cron-secret-here
